agentbackend/src/main/resources/wsdl/DataSoap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soapserveryt.com/api/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.soapserveryt.com/api/soap" targetNamespace="http://www.soapserveryt.com/api/soap">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.soapserveryt.com/api/soap">
            <!--  client request  -->
            <element name="ClientRequestRentalRequestId">
                <complexType>
                    <sequence>
                        <element name="id" type="long" />
                        <element name="type" type="string" />
                    </sequence>
                </complexType>
            </element>

            <element name="ClientRequestComment">
                <complexType>
                    <sequence>
                        <element name="fromUserId" type="long" />
                        <element name="carId" type="long" />
                        <element name="descriptionComment" type="string" />
                    </sequence>
                </complexType>
            </element>
            <element name="ClientRequestSetMileageAndDescription">
                <complexType>
                    <sequence>
                        <element name="carId" type="long" />
                        <element name="rentalRequestId" type="long"/>
                        <element name="mileage" type="int" />
                        <element name="description" type="string" />
                    </sequence>
                </complexType>
            </element>

            <element name="ClientRequestRentalRequest">
                <complexType>
                    <sequence>
                        <element name="startDate" type="string" />
                        <element name="endDate" type="string" />
                        <element name="carId" type="string" />
                        <element name="userId" type="string" />
                        <element name="id" type="long" />
                    </sequence>
                </complexType>
            </element>


            <element name="ClientRequestCars">
                <complexType>
                    <sequence>
                        <element name="newsItems" type="tns:ClientRequestCar" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>

            <complexType name="ClientRequestCar">
                <sequence>
                    <element name="rating" type="double" />
                    <element name="id" type="long" />
                    <element name="doors" type="string" />
                    <element name="descripton" type="string" />
                    <element name="image" type="string" />
                    <element name="brand" type="string" />
                    <element name="model" type="string" />
                    <element name="fuelType" type="string" />
                    <element name="transmission" type="string" />
                    <element name="classCar" type="string" />
                    <element name="price" type="string" />
                    <element name="mileage" type="string" />
                    <element name="plannedMileage" type="string" />
                    <element name="CDW" type="string" />
                    <element name="capacitySeats" type="string" />
                    <element name="capacitySeatsForKids" type="string" />
                    <element name="cubicCapacity" type="string" />
                    <element name="horsePower" type="string" />
                    <element name="usb" type="string" />
                    <element name="gps" type="string" />
                    <element name="fuelTankCapacity" type="string" />
                    <element name="cityLocation" type="string" />
                    <element name="userId" type="string" />
                </sequence>
            </complexType>

            <element name="ClientRequest">
                <complexType>
                    <sequence>
                        <element name="doors" type="string" />
                        <element name="description" type="string" />
                        <element name="image" type="string" />
                        <element name="brand" type="string" />
                        <element name="model" type="string" />
                        <element name="fuelType" type="string" />
                        <element name="transmission" type="string" />
                        <element name="classCar" type="string" />
                        <element name="price" type="string" />
                        <element name="mileage" type="string" />
                        <element name="plannedMileage" type="string" />
                        <element name="CDW" type="string" />
                        <element name="capacitySeats" type="string" />
                        <element name="capacitySeatsForKids" type="string" />
                        <element name="cubicCapacity" type="string" />
                        <element name="horsePower" type="string" />
                        <element name="usb" type="string" />
                        <element name="gps" type="string" />
                        <element name="fuelTankCapacity" type="string" />
                        <element name="cityLocation" type="string" />
                        <element name="userId" type="string" />
                    </sequence>
                </complexType>
            </element>

            <element name="ClirentRequestOccupancy">
                <complexType>
                    <sequence>
                        <element name="startDate" type="string" />
                        <element name="endDate" type="string" />
                        <element name="carId" type="string" />
                    </sequence>
                </complexType>
            </element>

            <element name="ServerRespond">
                <complexType>
                    <sequence>
                        <element name="id" type="long" />
<!--                        <element name="fullname" type="string" />-->
<!--                        <element name="salary" type="string" />-->
<!--                        <element name="address" type="string" />-->
<!--                        <element maxOccurs="unbounded" name="errorMsg" type="string" />-->
                    </sequence>
                </complexType>
            </element>
            <!--  end server response  -->
        </schema>
    </wsdl:types>
    <wsdl:message name="ClientRequest">
        <wsdl:part element="tns:ClientRequest" name="ClientRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DataSoapPort">
        <wsdl:operation name="Client">
            <wsdl:input message="tns:ClientRequest" name="ClientRequest"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DataSoapPortSoap11" type="tns:DataSoapPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Client">
            <soap:operation soapAction="" />
            <wsdl:input name="ClientRequest">
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DataSoapPortService">
        <wsdl:port binding="tns:DataSoapPortSoap11" name="DataSoapPortSoap11">
            <soap:address location="http://localhost:8081/ws" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>